{% include 'bazowa.html' %}
{% include 'nawigacja.html' %}

{% block content %}
<h1 class="text-center" style="margin-top: 50px;">O nas</h1>
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="strong">Nasza misja</h1>
            <p class="lead">"Ostatnia Prosta" to miejsce, w którym mieszkańcy mogą cieszyć się spokojem i komfortem, mając pewność, że ich potrzeby są zawsze zaspokajane. To dom opieki, w którym staranność, empatia i poszanowanie godności każdej osoby są priorytetem.</p>
        </div>
        <div class="col-md-6 text-center">
            <p>W "Ostatniej Prostej" oferowane są różnorodne zajęcia i programy rekreacyjne, które umożliwiają mieszkańcom aktywne spędzanie czasu i rozwijanie swoich zainteresowań. Dostępna jest również biblioteka, w której można znaleźć bogaty wybór książek, a także kącik artystyczny, w którym można realizować twórcze pasje.</p>
            <p>Personel medyczny w "Ostatniej Prostej" jest doświadczony i troszczy się o zdrowie i dobrostan mieszkańców. Zapewniana jest kompleksowa opieka medyczna, w tym regularne kontrole, leczenie farmakologiczne oraz wsparcie w codziennych czynnościach.</p>
            <p>Dodatkowo, "Ostatnia Prosta" oferuje przestronne wspólne pomieszczenia, takie jak sala kinowa, sala gier, sala do rehabilitacji oraz ogród terapeutyczny, gdzie mieszkańcy mogą spotykać się, relaksować i cieszyć się towarzystwem innych.</p>
        </div>

        <!--
	    <div class="row">
		    <div class="site-heading text-center">
                <h3>Our Team</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br> ut labore et dolore magna aliqua. Ut enim ad minim </p>
				<div class="border"></div>
			</div>
	    </div>
	    -->

    </div>
</div>


{% endblock content %}
{% include 'stopka.html' %}





